

.movie-card {
  width: 210px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 7px;
  background-color: honeydew;
}

.movie-card:hover {
  width: 200px;
  margin: 3px;
  border: ridge gray; //change this color for something better
}

.movie-image {
  border: thick black;
}